@model WhiskyMVC.Models.PostViewModel

@{
  ViewData["Title"] = "Edit Post";
}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Edit Post</h2>
    <form asp-action="Edit">
      <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Description" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Rating" class="text-danger"></span>
      </div>

      <h3>Whisky Details</h3>
      <div class="form-group">
        <label asp-for="Whisky.Name" class="control-label"></label>
        <input asp-for="Whisky.Name" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Whisky.Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Whisky.Age" class="control-label"></label>
        <input asp-for="Whisky.Age" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Whisky.Age" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Whisky.Year" class="control-label"></label>
        <input asp-for="Whisky.Year" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Whisky.Year" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Whisky.Country" class="control-label"></label>
        <input asp-for="Whisky.Country" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Whisky.Country" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Whisky.Region" class="control-label"></label>
        <input asp-for="Whisky.Region" class="form-control" style="background-color: #3e3e3e; color: #f8f9fa;" />
        <span asp-validation-for="Whisky.Region" class="text-danger"></span>
      </div>

      <input type="hidden" asp-for="WhiskyId" />

      <div class="form-group d-flex justify-content-between mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post" style="display:inline;">
          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</button>
        </form>
      </div>
    </form>
    

<div>
  <a asp-controller="User" asp-action="Profile" class="btn btn-secondary mt-3">Back to Profile</a>
</div>

  </div>
</div>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}